/* Approved.css */
.main-content{
    display: block !important;
}
.approved-files {
    padding: 20px;
  }

.approved-list{
    width: 80%;
    padding-right: 50px;
    margin-top: 20px;
  }
  
  .list-header {
    display: grid;
    grid-template-columns: 1fr 2fr 3fr 1fr;
    font-weight: bold;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    padding: 15px 0;
    top: 60px;
    position: sticky;
    z-index: 1;
    
  }
  
  .list-header .index {
    text-align: center;
  }
  
  .list-header .sender {
    padding-left: 10px;
  }
  
  .list-header .file-name {
    padding-left: 10px;
  }
  
  .list-header .actions {
    text-align: center;
  }
  
  ol {
    list-style-type: none;
    padding: 0;
  }
  
 
li {
    display: grid;
    grid-template-columns: 1fr 2fr 3fr 1fr;
    border: 1px solid #e4e4e4;
    margin: 5px 20px;
    padding: 15px 0;
    width: 100%; 
    background-color: #fff; 
    border-radius: 5px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: transform 0.2s; 
    cursor: pointer; 
    font-size: 18px;
  }
  
  li .index {
    text-align: center;
  }
  
  li .sender {
    padding-left: 10px;
  }
  
  li .file-name {
    padding-left: 10px;
  }
  
  li .actions {
    text-align: center;
  }
  
  .action-button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  