*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.top-bar {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  }
  
  .brand {
    display: flex;
    align-items: center;
  }
  
  .menu-icon {
    font-size: 24px;
    margin-right: 20px;
    cursor: pointer;
  }
  
  .brand-name {
    font-size: 20px;
    margin-left: 10px;
  }